<?php
header('Content-Type: application/json');

$key = "xxxxxxxxxxxxxxxxxxxxxxxxxx";
$url = "https://maps.googleapis.com/maps/api/distancematrix/json?origins=32.7767,-96.7970&destinations=Dallas,TX&mode=driving&key=" . $key;

$response = @file_get_contents($url);
$data = json_decode($response, true);

echo json_encode($data, JSON_PRETTY_PRINT);
?>